@model IEnumerable<kozvetito.Areas.allas.Models.SzakmaiTapasztalat>

<h3>Korábbi munkahelyek</h3>

<div class="form-group">
    @Html.Action("UjMunkahely")
    <div class="col-md-10">
        <table class="iskolaTable">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartYear)
                    </td>
                    <td>
                        -
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Munkaado)
                        <br/>
                        @Html.DisplayFor(modelItem => item.SzotarMunkahelyPozicio.Hu)
                    </td>
                    <td>
                        @Html.ActionLink("Törlés", "MunkahelyTorles", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>  
    </div>
</div>