
@{
    ViewBag.Title = MainLang.kapcsolat;
}

<h2>@MainLang.kapcsolat</h2>

<p>
    Zeldo Kft.
</p>

<p>
    @MainLang.kapcsolat_hu<br />
    @Html.MailTo("info@ausztriai-munka.com")
</p>

<p>
    @MainLang.kapcsolat_de<br />
    @Html.MailTo("info@job-ungarische.com")
</p>