<h4>Szolgáltatásaink</h4>
<hr/>
@Html.ActionLink("Exclusive iroda", "Index", "Home", new { area = "" }, null)<br />
@Html.ActionLink("Külföldi letelepedés", "Index", "Fooldal", new { area = "letelepedes" }, null)<br />
@Html.ActionLink("Munkaerő - állás", "Index", "Fooldal", new { area = "allas" }, null)<br />
@Html.ActionLink("Ingatlan-közvetítés","Index","Fooldal", new { area = "ingatlan"}, null)<br/>
@Html.ActionLink("Jogi szolgáltatások", "Index", "Fooldal", new { area = "jogiszolgaltatasok" }, null)<br/>
@Html.ActionLink("Nemzetközi cégalapítás", "Index", "Fooldal", new { area = "cegalapitas" }, null)<br />
@Html.ActionLink("Könyvelés - adó visszatérítés", "Index", "Fooldal", new { area = "konyveles" }, null)<br/>
@Html.ActionLink("Bank és pénzügyi tanácsadás", "Index", "Fooldal", new { area = "penzugy" }, null)<br/>
@Html.ActionLink("Biztosítás", "Index", "Fooldal", new { area = "biztositas" }, null)<br />
@Html.ActionLink("Partner közvetítés", "Index", "Fooldal", new { area = "partner" }, null)<br />
@Html.ActionLink("Nyelv- és egyéb oktatás", "Index", "Fooldal", new { area = "oktatas" }, null)<br />
@Html.ActionLink("Követelés - behajtás", "Index", "Fooldal", new { area = "behajtas" }, null)<br />
@Html.ActionLink("Hivatalos fordítás", "Index", "Fooldal", new { area = "forditas" }, null)<br/>
@Html.ActionLink("Weblap készítés", "Index", "Fooldal", new { area = "weblap" }, null)<br/>
@Html.ActionLink("Pályázat írás","Index","Fooldal", new { area = "palyazatiras"}, null)